.modal-back {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal {
    align-content: center;
    position: absolute;
    top: 50%;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 10px;
}